<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Travel Order</title>
  <script src="node_modules/vue/dist/vue.global.js"></script>
  <script src="node_modules/axios/dist/axios.js"></script>
  <!-- <script src="node_modules/tinymce/tinymce.min.js"></script> -->
  <script src="node_modules/@tinymce/tinymce-vue/lib/browser/tinymce-vue.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/primeicons/primeicons.css">
  <link href="main.css?ver=1" rel="stylesheet">
  <script src="translate.js"></script>
  <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</head>

<body class="h-screen p-10 flex flex-col justify-around items-center bg-gray-200 select-none">
  <div id="app" class="w-full">

    <div v-if="!token" class="flex justify-center flex-col items-center">
      <h1 class="text-3xl font-bold text-center mb-10 text-blue-500">Travel Order</h1>
      <div class="bg-white p-6 text-center rounded-4xl shadow-xl md:w-1/3">
        <main class="flex flex-col justify-between gap-y-10">
          <h3 class="font-bold text-xl mb">Login</h3>
          <input v-model="loginForm.username" placeholder="Username"
            class="shadow-[0_0_10px_rgba(0,0,0,0.3)] p-3 pl-6 pr-6 rounded-3xl" />
          <input v-model="loginForm.password" type="password" placeholder="Password"
            class="shadow-[0_0_10px_rgba(0,0,0,0.3)] p-3 pl-6 pr-6 rounded-3xl" />
          <button @click="login"
            class="bg-blue-500 text-white font-bold rounded-4xl p-4 shadow-xl md:cursor-pointer">Login</button>
        </main>
      </div>
    </div>
    <div v-else>

      <div>
        <header class="bg-white flex justify-between pt-4 pb-4 rounded-xl mb-10 px-4 md:px-10">
          <span class="text-2xl font-bold text-blue-500 dark:text-red-900">{{t("Travel Order", lang)}}</span>
          <div class="flex items-center">

            <button @click="logout"
              class="bg-red-700 p-2 pl-4 pr-4 rounded-3xl text-white font-bold text-sm shadow-md cursor-pointer mr-4">{{t("Logout",
              lang)}}</button>

            <button class="rounded-full cursor-pointer" onclick="toggleLang()">
              <i class="pi pi-globe"></i>
            </button>
          </div>
        </header>

        <main class="bg-white p-4 rounded-xl mb-10 flex flex-col items-center">

          <!--VEHICLES-->
          <div data-accordion="collapse" class="accordion-collapse w-full bg-gray-200 rounded-xl shadow-md">
            <span>
              <button type="button"
                class="flex items-center justify-between w-full px-4 py-3 text-left text-gray-800 font-medium rounded-t-xl focus:outline-none cursor-pointer"
                data-accordion-target="#body1" aria-expanded="false" aria-controls="body1">
                <span>
                  <h1 class="headers">{{t("Vehicle", lang)}}</h1>
                </span>

                <svg data-accordion-icon class="w-5 h-5 transition-transform transform" fill="none"
                  stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
            </span>

            <div id="body1" class="hidden px-4 py-3 bg-gray-100 rounded-b-xl">
              <div>
                <h3 class="subHeaders">{{t("Vehicles", lang)}}: {{vehicles.length}}</h3>
                <div class="md:grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 md:gap-10 md:place-items-center">
                  <div v-for="vehicle in vehicles" :key="vehicle.id" class="vehicle md:w-2/3">
                    <div>
                      <label for="Name">{{t("Name", lang)}}:
                        <input v-model="vehicle.name" class="formInputs" />
                      </label>

                      <label for="Average Consumption">{{t("Average Consumption", lang)}} (L/100km):
                        <input v-model="vehicle.avg_consumption" class="formInputs" />
                      </label>
                    </div>

                    <div>
                      <button @click="updateVehicle(vehicle)" class="formButtons updateButton">{{t("Update",
                        lang)}}</button>
                      <button @click="deleteVehicle(vehicle.id)" class="formButtons deleteButton">{{t("Delete",
                        lang)}}</button>
                    </div>
                    <br>
                  </div>
                </div>

                <h3 class="subHeaders">{{t("Add Vehicle", lang)}}:</h3>
                <div>

                  <label for="">{{t('Vehicle', lang)}}</label>
                  <input v-model="newVehicleName" required :placeholder="t('Vehicle', lang)" class="formInputs" />


                  <input v-model="newVehicleConsumption" :placeholder="t('Average Consumption', lang)" type="number"
                    step="0.1" min="0" class="formInputs" />

                  <button @click="createVehicle" class="formButtons addButton">{{t("Add", lang)}}</button>
                </div>
              </div>
            </div>
          </div>
          <br>

          <!--EMPLOYEES-->
          <div data-accordion="collapse" class="accordion-collapse w-full bg-gray-200 rounded-xl shadow-md">
            <span>
              <button type="button"
                class="flex items-center justify-between w-full px-4 py-3 text-left text-gray-800 font-medium rounded-t-xl focus:outline-none cursor-pointer"
                data-accordion-target="#body2" aria-expanded="false" aria-controls="body1">
                <span>
                  <h1 class="headers">{{t("Employee", lang)}}</h1>
                </span>

                <svg data-accordion-icon class="w-5 h-5 transition-transform transform" fill="none"
                  stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
            </span>
            <div id="body2" class="hidden px-4 py-3 bg-gray-100 rounded-b-xl">
              <div class="text-gray-700">
                <h3 class="subHeaders">{{t("Employees", lang)}}: {{employees.length}}</h3>
                <div class="md:grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 md:gap-10 md:place-items-center">
                  <div v-for="employee in employees" :key="employee.id" class="employee md:w-2/3">
                    <div>
                      <label for="Name">{{t("Name", lang)}}:
                        <input v-model="employee.name" class="formInputs" />
                      </label>

                      <label for="Surname">{{t("Surname", lang)}}:
                        <input v-model="employee.surname" class="formInputs" />
                      </label>

                      <label for="Position">{{t("Position", lang)}}:
                        <input v-model="employee.position" class="formInputs" />
                      </label>

                      <label for="Card Id Number">{{t("Card ID Number", lang)}}:
                        <input v-model="employee.card_id_num" class="formInputs" />
                      </label>

                      <label for="SSN">{{t("SSN", lang)}}:
                        <input v-model="employee.ssn" class="formInputs" />
                      </label>
                    </div>

                    <div>
                      <button @click="updateEmployee(employee)" class="formButtons updateButton">{{t("Update",
                        lang)}}</button>
                      <button @click="deleteEmployee(employee.id)" class="formButtons deleteButton">{{t("Delete",
                        lang)}}</button>
                    </div>
                    <br>
                  </div>
                </div>

                <h3 class="subHeaders">{{t("Add Employee", lang)}}:</h3>
                <div>
                  <div>
                    <div>
                      <input v-model="newEmployeeName" required :placeholder="t('Name', lang)" class="formInputs" />
                      <input v-model="newEmployeeSurname" required :placeholder="t('Surname', lang)"
                        class="formInputs" />
                      <input v-model="newEmployeePosition" required :placeholder="t('Position', lang)"
                        class="formInputs" />
                      <input v-model="newEmployeeCardNum" required :placeholder="t('Card ID Number', lang)"
                        class="formInputs" />
                      <input v-model="newEmployeeSSN" required :placeholder="t('SSN', lang)" class="formInputs" />
                    </div>

                    <button @click="createEmployee" class="formButtons addButton">{{t("Add", lang)}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>

          <!-- ORAGNISATIONS -->
          <div data-accordion="collapse" class="accordion-collapse w-full bg-gray-200 rounded-xl shadow-md">
            <span>
              <button type="button"
                class="flex items-center justify-between w-full px-4 py-3 text-left text-gray-800 font-medium rounded-t-xl focus:outline-none cursor-pointer"
                data-accordion-target="#body3" aria-expanded="false" aria-controls="body1">
                <span>
                  <h1 class="headers">{{t("Organisation", lang)}}</h1>
                </span>

                <svg data-accordion-icon class="w-5 h-5 transition-transform transform" fill="none"
                  stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
            </span>
            <div id="body3" class="hidden px-4 py-3 bg-gray-100 rounded-b-xl">
              <div class="text-gray-700">
                <h3 class="subHeaders">{{t("Organisations", lang)}}: {{organisations.length}}</h3>
                <div class="md:grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 md:gap-10 md:place-items-center">
                  <div v-for="organisation in organisations" :key="organisation.id" class="oragnisation md:w-3/4">
                    <div>
                      <label for="Responsible Person">{{t("Responsible Person", lang)}}:
                        <input v-model="organisation.resp_person" class="formInputs" />
                      </label>

                      <label for="Seal">{{t("Seal", lang)}}:
                        <input v-model="organisation.seal" class="formInputs" />
                      </label>

                      <label for="Name">{{t("Name", lang)}}:
                        <input v-model="organisation.name" class="formInputs" />
                      </label>

                      <label for="Address">{{t("Address", lang)}}:
                        <input v-model="organisation.address" class="formInputs" />
                      </label>

                      <label for="Issuer">{{t("Issuer", lang)}}:
                        <input v-model="organisation.issuer" class="formInputs" />
                      </label>
                    </div>

                    <div>
                      <button @click="updateOrganisation(organisation)" class="formButtons updateButton">{{t("Update",
                        lang)}}</button>
                      <button @click="deleteOrganisation(organisation.id)"
                        class="formButtons deleteButton">{{t("Delete",
                        lang)}}</button>
                    </div>
                    <br>
                  </div>
                </div>

                <h3 class="subHeaders">{{t("Add Organisation", lang)}}:</h3>
                <div>
                  <div>
                    <div>
                      <input v-model="newOrganisationRespPerson" required :placeholder="t('Responsible Person', lang)"
                        class="formInputs" />
                      <input v-model="newOrganisationSeal" required :placeholder="t('Seal', lang)" class="formInputs" />
                      <input v-model="newOrganisationName" required :placeholder="t('Name', lang)" class="formInputs" />
                      <input v-model="newOrganisationAddress" required :placeholder="t('Address', lang)"
                        class="formInputs" />
                      <input v-model="newOrganisationIssuer" required :placeholder="t('Issuer', lang)"
                        class="formInputs" />
                    </div>

                    <button @click="createOrganisation" class="formButtons addButton">{{t("Add", lang)}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>

          <!-- TRAVEL ORDERS -->
          <div data-accordion="collapse" class="accordion-collapse w-full bg-gray-200 rounded-xl shadow-md">
            <span>
              <button type="button"
                class="flex items-center justify-between w-full px-4 py-3 text-left text-gray-800 font-medium rounded-t-xl focus:outline-none cursor-pointer"
                data-accordion-target="#body4" aria-expanded="false" aria-controls="body1">
                <span>
                  <h1 class="headers">{{t("Travel Order", lang)}}</h1>
                </span>

                <svg data-accordion-icon class="w-5 h-5 transition-transform transform" fill="none"
                  stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
            </span>
            <div id="body4" class="px-4 py-3 bg-gray-100 rounded-b-xl">
              <div class="text-gray-700">
                <h3 class="subHeaders">{{t("Travel Orders", lang)}}: {{travel_orders.length}}</h3>
                <div class="md:grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 md:gap-10 md:place-items-center"
                  id="travelOrders">
                  <div v-for="travel_order in travel_orders" :key="travel_order.id" class="travel_order md:w-2/3">
                    <div>
                      <label for="Start date">{{t("Start Date", lang)}}:
                        <input type="date" v-model="travel_order.formatted_start_date" class="formInputs"
                          min="2020-01-01" :max="maxDate()" />
                      </label>

                      <label for="End date">{{t("End Date", lang)}}:
                        <input type="date" v-model="travel_order.formatted_end_date" class="formInputs" min="2020-01-01"
                          :max="maxDate()" />
                      </label>

                      <label for="Order Task">{{t("Order Task", lang)}}:
                        <input v-model="travel_order.task" class="formInputs" />
                      </label>

                      <label for="Location">{{t("Location", lang)}}:
                        <input v-model="travel_order.location" class="formInputs" />
                      </label>

                      <label for="Per Diem">{{t("Per Diem", lang)}} (euro/s):
                        <input v-model="travel_order.per_diem" class="formInputs" />
                      </label>

                      <label for="Report">{{t("Report", lang)}}:
                        <textarea :id="`report-${travel_order.id}`" v-model="travel_order.report"
                          class="formInputs myEditor"></textarea>
                      </label>
                      <button class="formButtons reportButton" @click="openReport(travel_order.id)">{{t("Report",
                        lang)}}</button>

                      <label for="State">{{t("State", lang)}}:
                        <select v-model="travel_order.state" required class="formInputs travelState" id="toState">
                          <option value="started">{{t("Started", lang)}}</option>
                          <option value="ended">{{t("Ended", lang)}}</option>
                          <option value="in progress">{{t("In proggress", lang)}}</option>
                        </select>
                      </label>

                      <label for="Advance Payment">{{t("Advance Payment", lang)}} (euro/s):
                        <input v-model="travel_order.adv_payment" class="formInputs" />
                      </label>

                      <label for="Vehicle Name:">{{t("Vehicle Name", lang)}}:
                        <select v-model="travel_order.fk_vehicle" class="formInputs">
                          <option v-for="vehicle in vehicles" :key="vehicle.id" :value="vehicle.id">
                            {{ vehicle.name }}
                          </option>
                        </select>
                      </label>

                      <label for="Organisation Name">{{t("Organisation Name", lang)}}:
                        <select v-model="travel_order.fk_organisation" class="formInputs">
                          <option v-for="organisation in organisations" :key="organisation.id" :value="organisation.id">
                            {{ organisation.name }}
                          </option>
                        </select>
                      </label>

                      <button @click="updateTravelOrder(travel_order)" class="formButtons updateButton"
                        id="uptButton">{{t("Update",
                        lang)}}</button>
                      <button @click="deleteTravelOrder(travel_order.id)" class="formButtons deleteButton">{{t("Delete",
                        lang)}}</button>
                    </div>
                    <br>
                  </div>
                </div>

                <h3 class="subHeaders">{{t("Add Travel Order", lang)}}:</h3>
                <div>
                  <div>
                    <div>
                      <input type="date" v-model="newTravelOrderStartDate" required :placeholder="t('Start Date', lang)"
                        class="formInputs" min="2020-01-01" :max="maxDate()" />
                      <input type="date" v-model="newTravelOrderEndDate" :placeholder="t('End Date', lang)"
                        class="formInputs" min="2020-01-01" :max="maxDate()" />
                      <input v-model="newTravelOrderTask" :placeholder="t('Order Task', lang)" class="formInputs" />
                      <input v-model="newTravelOrderLocation" required :placeholder="t('Location', lang)"
                        class="formInputs" />
                      <input v-model="newTravelOrderPerDiem" :placeholder="t('Per Diem', lang)" type="number" step="0.1"
                        min="0" class="formInputs" />
                      <textarea :id="`add-report-editor`" v-model="newTravelOrderReport"
                        :placeholder="t('Report', lang)" class="formInputs myEditor"></textarea>

                      <select v-model="newTravelOrderState" required class="formInputs">
                        <option value="" disabled>{{t("-- Select a state --", lang)}}</option>
                        <option value="started">{{t("Started", lang)}}</option>
                        <option value="ended">{{t("Ended", lang)}}</option>
                        <option value="in progress">{{t("In proggress", lang)}}</option>
                      </select>

                      <input v-model="newTravelOrderAdvPayment" :placeholder="t('Advance Payment', lang)" type="number"
                        step="0.1" min="0" class="formInputs" />

                      <input v-model="newTravelOrderFkVehicle" :placeholder="t('Vehicle Name', lang)" hidden
                        class="formInputs" />
                      <select v-model="newTravelOrderFkVehicle" class="formInputs">
                        <option disabled value="">{{t("-- Select a vehicle --", lang)}}</option>
                        <option v-for="vehicle in vehicles" :key="vehicle.id" :value="vehicle.id">
                          {{ vehicle.name }}
                        </option>
                      </select>

                      <input v-model="newTravelOrderFkOrganisation" :placeholder="t('Organisation Name', lang)" hidden
                        class="formInputs" />
                      <select v-model="newTravelOrderFkOrganisation" class="formInputs">
                        <option disabled value="">{{t("-- Select an organisation --", lang)}}</option>
                        <option v-for="organisation in organisations" :key="organisation.id" :value="organisation.id">
                          {{ organisation.name }}
                        </option>
                      </select>
                    </div>

                    <button @click="createTravelOrder" class="formButtons addButton">{{t("Add", lang)}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>

          <!-- TRAVEL EXPENCES -->
          <div data-accordion="collapse" class="accordion-collapse w-full bg-gray-200 rounded-xl shadow-md">
            <span>
              <button type="button"
                class="flex items-center justify-between w-full px-4 py-3 text-left text-gray-800 font-medium rounded-t-xl focus:outline-none cursor-pointer"
                data-accordion-target="#body5" aria-expanded="false" aria-controls="body1">
                <span>
                  <h1 class="headers">{{t("Travel Expence", lang)}}</h1>
                </span>

                <svg data-accordion-icon class="w-5 h-5 transition-transform transform" fill="none"
                  stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
            </span>
            <div id="body5" class="hidden px-4 py-3 bg-gray-100 rounded-b-xl">
              <div class="text-gray-700">
                <h3 class="subHeaders">{{t("Travel Expences", lang)}}: {{travel_expences.length}}</h3>
                <div class="md:grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 md:gap-10 md:place-items-center">
                  <div v-for="travel_expence in travel_expences" :key="travel_expence.id"
                    class="travel_expence md:w-2/3">
                    <div>
                      <label for="Expence Type">{{t("Expence Type", lang)}}:
                        <select v-model="travel_expence.expence_type" id="" class="formInputs">
                          <option value="Travel Costs">{{t("Travel Costs", lang)}}</option>
                          <option value="Food and Drinks">{{t("Food and Drinks", lang)}}</option>
                          <option value="Other">{{t("Other", lang)}}</option>
                        </select>
                      </label>

                      <label for="Start Location">{{t("Start Location", lang)}}:
                        <input v-model="travel_expence.start_location" class="formInputs" />
                      </label>

                      <label for="End Location">{{t("End Location", lang)}}:
                        <input v-model="travel_expence.end_location" class="formInputs" />
                      </label>

                      <label for="Distance">{{t("Distance", lang)}} (km):
                        <input v-model="travel_expence.distance" class="formInputs" type="number" min="0" step="0.1" />
                      </label>

                      <label for="Receipt">{{t("Receipt", lang)}}:
                        <input v-model="travel_expence.receipt" class="formInputs" />
                      </label>

                      <label for="Price">{{t("Price", lang)}} (euro/s):
                        <input v-model="travel_expence.price" class="formInputs" type="number" min="1" step="0.1" />
                      </label>

                      <label for="Travel Order:">{{t("Travel Order", lang)}}:
                        <select v-model="travel_expence.fk_travel_order" class="formInputs">
                          <option v-for="travel_order in travel_orders" :key="travel_order.id" :value="travel_order.id">
                            {{ `${t("From",lang)} ${travel_order.formatted_start_date} ${t("To",lang)}
                            ${travel_order.formatted_end_date} ${t("Location",lang)}: ${travel_order.location}`}}
                          </option>
                        </select>
                      </label>
                    </div>

                    <div>
                      <button @click="updateTravelExpence(travel_expence)"
                        class="formButtons updateButton">{{t("Update",
                        lang)}}</button>
                      <button @click="deleteTravelExpence(travel_expence.id)"
                        class="formButtons deleteButton">{{t("Delete",
                        lang)}}</button>
                    </div>
                    <br>
                  </div>
                </div>

                <h3 class="subHeaders">{{t("Add Travel Expence", lang)}}:</h3>
                <div>
                  <div>
                    <div>
                      <select v-model="newTravelExpenceExpenceType" id="" class="formInputs">
                        <option value="" disabled>{{t("-- Select Expence Type --", lang)}}</option>
                        <option value="Travel">{{t("Travel Costs", lang)}}</option>
                        <option value="Food">{{t("Food and Drinks", lang)}}</option>
                        <option value="Other">{{t("Other", lang)}}</option>
                      </select>
                      <input v-model="newTravelExpenceStartLocation" required :placeholder="t('Start Location', lang)"
                        class="formInputs" />
                      <input v-model="newTravelExpenceEndLocation" required :placeholder="t('End Location', lang)"
                        class="formInputs" />
                      <input v-model="newTravelExpenceDistance" required :placeholder="t('Distance', lang)"
                        class="formInputs" type="number" step="0.1" min="0" />
                      <input v-model="newTravelExpenceReceipt" required :placeholder="t('Receipt', lang)"
                        class="formInputs" />
                      <input v-model="newTravelExpencePrice" required :placeholder="t('Price', lang)" type="number"
                        step="0.1" min="1" class="formInputs" />
                      <select v-model="newTravelExpenceFkTravelOrder" class="formInputs">
                        <option disabled value="">{{t("-- Select a Travel Order --", lang)}}</option>
                        <option v-for="travel_order in travel_orders" :key="travel_order.id" :value="travel_order.id">
                          {{ `${t("From",lang)} ${travel_order.formatted_start_date} ${t("To",lang)}
                          ${travel_order.formatted_end_date} ${t("Location",lang)}: ${travel_order.location}`}}
                        </option>
                      </select>
                    </div>

                    <button @click="createTravelExpence" class="formButtons addButton">{{t("Add", lang)}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>

          <!-- ORDER EMPLOYEES -->
          <div data-accordion="collapse" class="accordion-collapse w-full bg-gray-200 rounded-xl shadow-md">
            <span>
              <button type="button"
                class="flex items-center justify-between w-full px-4 py-3 text-left text-gray-800 font-medium rounded-t-xl focus:outline-none cursor-pointer"
                data-accordion-target="#body6" aria-expanded="false" aria-controls="body1">
                <span>
                  <h1 class="headers">{{t("Order-Employee", lang)}}</h1>
                </span>

                <svg data-accordion-icon class="w-5 h-5 transition-transform transform" fill="none"
                  stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
            </span>
            <div id="body6" class="hidden px-4 py-3 bg-gray-100 rounded-b-xl">
              <div class="text-gray-700">
                <h3 class="subHeaders">{{t("Order-Employee", lang)}}: {{order_employees.length}}</h3>
                <div class="md:grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 md:gap-10 md:place-items-center">
                  <div v-for="order_employee in order_employees" :key="order_employee.id"
                    class="order_employee md:w-2/3">
                    <div>
                      <label for="Travel Order">{{t("Travel Order", lang)}}:
                        <p class="formInputs">
                          <template v-for="travel_order in travel_orders" :key="travel_order.id">
                            <span v-if="travel_order.id === order_employee.fk_order">
                              {{ `${t("From", lang)} ${travel_order.formatted_start_date} ${t("To", lang)}
                              ${travel_order.formatted_end_date}, ${t("Location", lang)}: ${travel_order.location}` }}
                            </span>
                          </template>
                        </p>
                      </label>

                      <label for="Employee">{{t("Employee", lang)}}:
                        <p class="formInputs">
                          <template v-for="employee in employees" :key="employee.id">
                            <span v-if="employee.id === order_employee.fk_employee">
                              {{ `${employee.name} ${employee.surname}` }}
                            </span>
                          </template>
                        </p>
                      </label>
                    </div>

                    <div>
                      <button @click="deleteOrderEmployee(order_employee.fk_order, order_employee.fk_employee)"
                        class="formButtons deleteButton">{{t("Delete", lang)}}</button>
                    </div>
                    <br>
                  </div>
                </div>

                <h3 class="subHeaders">{{t("Add Order Employee", lang)}}:</h3>
                <div>
                  <div>
                    <div>
                      <select v-model="newOrderEmployeeFkOrder" class="formInputs">
                        <option disabled value="">{{t("-- Select a Travel Order --", lang)}}</option>
                        <option v-for="travel_order in travel_orders" :key="travel_order.id" :value="travel_order.id">
                          {{ `${t("From",lang)} ${travel_order.formatted_start_date} ${t("To",lang)}
                          ${travel_order.formatted_end_date} ${t("Location",lang)}: ${travel_order.location}`}}
                        </option>
                      </select>

                      <select v-model="newOrderEmployeeFkEmployee" class="formInputs">
                        <option disabled value="">{{t("-- Select an Employee --", lang)}}</option>
                        <option v-for="employee in employees" :key="employee.id" :value="employee.id">
                          {{ `${employee.name} ${employee.surname}` }}
                        </option>
                      </select>
                    </div>

                    <button @click="createOrderEmployee" class="formButtons addButton">{{t("Add", lang)}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>

          <!-- USER -->
          <div data-accordion="collapse" class="accordion-collapse w-full bg-gray-200 rounded-xl shadow-md">
            <span>
              <button type="button"
                class="flex items-center justify-between w-full px-4 py-3 text-left text-gray-800 font-medium rounded-t-xl focus:outline-none cursor-pointer"
                data-accordion-target="#body7" aria-expanded="false" aria-controls="body7">
                <span>
                  <h1 class="headers">{{t("User", lang)}}</h1>
                </span>

                <svg data-accordion-icon class="w-5 h-5 transition-transform transform" fill="none"
                  stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
            </span>

            <div id="body7" class="hidden px-4 py-3 bg-gray-100 rounded-b-xl">
              <div>
                <h3 class="subHeaders">{{t("Users", lang)}}: {{users.length}}</h3>
                <div class="md:grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 md:gap-10 md:place-items-center">
                  <div v-for="user in users" :key="user.id" class="vehicle md:w-2/3">
                    <div>
                      <label for="Username">{{t("Username", lang)}}:
                        <input v-model="user.username" class="formInputs" />
                      </label>

                      <label for="Password">{{t("Password", lang)}}:
                        <input v-model="user.password" class="formInputs" type="password"/>
                      </label>

                      <label for="Privilege level">{{t("Privilege level", lang)}}:
                        <select v-model="user.admin" id="" class="formInputs">
                          <option value="1">{{t("Admin", lang)}}</option>
                          <option value="0">{{t("User", lang)}}</option>
                        </select>
                      </label>



                      <label for="Organisation">{{t("Organisation", lang)}}:
                        <select v-model="user.fk_organisation" class="formInputs">
                          <option v-for="organisation in organisations" :key="organisation.id" :value="organisation.id">
                            {{ organisation.name }}
                          </option>
                        </select>
                      </label>
                    </div>

                    <div>
                      <button @click="updateUser(user)" class="formButtons updateButton">{{t("Update",
                        lang)}}</button>
                      <button @click="deleteUser(user.id, user.admin)" class="formButtons deleteButton">{{t("Delete",
                        lang)}}</button>
                    </div>
                    <br>
                  </div>
                </div>

                <h3 class="subHeaders">{{t("Add User", lang)}}:</h3>
                <div>
                  <input v-model="newUsername" required :placeholder="t('Username', lang)" class="formInputs" />

                  <input v-model="newPassword" :placeholder="t('Password', lang)" class="formInputs" type="password" />

                  <select v-model="newFkOrganisation" class="formInputs">
                    <option selected disabled value="">{{ t("-- Select an organisation --", lang) }}</option>
                    <option v-for="organisation in organisations" :key="organisation.id" :value="organisation.id">
                      {{ organisation.name }}
                    </option>
                  </select>

                  <label for="" class="flex items-center justify-around w-full mt-3 mb-3">{{t("Admin", lang)}}:
                    <input v-model="newAdmin" type="checkbox" class="size-5" />
                  </label>



                  <button @click="createUser" class="formButtons addButton">{{t("Add", lang)}}</button>
                </div>
              </div>
            </div>
          </div>
        </main>

        <footer class="bg-white flex justify-center pt-4 pb-4 rounded-xl mb-10">
          <span class="text-sm">Travel Order made by Aleksa Milošević.</span>
        </footer>
      </div>
    </div>

    <script>
      const { createApp, ref } = Vue;
      createApp({
        setup() {
          document.addEventListener('load', () => {
            tinymce.init({
              selector: '.myEditor',
              license_key: 'gpl',
              branding: false,
              plugins: 'fullscreen',
              toolbar: 'fullscreen',
              fullscreen_native: true,
              promotion: false,
              resize: false,
              setup: function (editor) {
                editor.on('init', function () {
                  editor.getContainer().classList.add('hide-editor');
                });

                editor.on('FullscreenStateChanged', function (e) {
                  if (e.state) {
                    editor.getContainer().classList.remove('hide-editor');
                  } else {
                    editor.getContainer().classList.add('hide-editor');
                  }
                });
              }
            });
            console.log(updateAllowed());
          });

          const apiBase = 'http://93.87.127.171:3000'; // or 3000 for Node.js
          const adminBase = 'http://93.87.127.171:3001'; // or 3001 for Node.js
          const token = ref(localStorage.getItem('token'));

          const vehicles = ref([]);
          const employees = ref([]);
          const organisations = ref([]);
          const travel_orders = ref([]);
          const travel_expences = ref([]);
          const order_employees = ref([]);
          const users = ref([]);

          const newVehicleName = ref('');
          const newVehicleConsumption = ref('');

          const newEmployeeName = ref('');
          const newEmployeeSurname = ref('');
          const newEmployeePosition = ref('');
          const newEmployeeCardNum = ref('');
          const newEmployeeSSN = ref('');

          const newOrganisationRespPerson = ref('');
          const newOrganisationSeal = ref('');
          const newOrganisationName = ref('');
          const newOrganisationAddress = ref('');
          const newOrganisationIssuer = ref('');

          const newTravelOrderStartDate = ref('');
          const newTravelOrderEndDate = ref('');
          const newTravelOrderTask = ref('');
          const newTravelOrderLocation = ref('');
          const newTravelOrderPerDiem = ref('');
          const newTravelOrderReport = ref('');
          const newTravelOrderState = ref('');
          const newTravelOrderAdvPayment = ref('');
          const newTravelOrderFkVehicle = ref('');
          const newTravelOrderFkOrganisation = ref('');

          const newTravelExpenceExpenceType = ref('');
          const newTravelExpenceStartLocation = ref('');
          const newTravelExpenceEndLocation = ref('');
          const newTravelExpenceDistance = ref('');
          const newTravelExpenceReceipt = ref('');
          const newTravelExpencePrice = ref('');
          const newTravelExpenceFkTravelOrder = ref('');

          const newOrderEmployeeFkOrder = ref('');
          const newOrderEmployeeFkEmployee = ref('');

          const newUsername = ref('');
          const newPassword = ref('');
          const newAdmin = ref('');
          const newFkOrganisation = ref('');

          const loginForm = ref({ username: '', password: '' });

          const authHeaders = () => ({ headers: { Authorization: `Bearer ${token.value}` } });

          const maxDate = () => {
            const nextYearDate = new Date();
            nextYearDate.setFullYear(nextYearDate.getFullYear() + 1);

            return nextYearDate.toISOString().split('T')[0];
          }

          const updateAllowed = () => {
            const container = document.getElementById('travelOrders');

            const updateButtons = container.querySelectorAll('button.updateButton');
            const stateSelect = container.querySelectorAll('select.travelState');

            for (let i = 0; i < stateSelect.length; i++) {
              if (stateSelect[i].value === 'ended') {
                updateButtons[i].classList.add('disable');
                updateButtons[i].disabled = true;
              }
            }
            return { updateButtons, stateSelect };
          }

          const fetchVehicles = async () => {
            const res = await axios.get(`${apiBase}/vehicle`, authHeaders());
            vehicles.value = res.data;
          };

          const fetchEmployees = async () => {
            const res = await axios.get(`${apiBase}/employee`, authHeaders());
            employees.value = res.data;
          };

          const fetchOrganisations = async () => {
            const res = await axios.get(`${apiBase}/organisation`, authHeaders());
            organisations.value = res.data;
          };

          const fetchTravelOrders = async () => {
            const res = await axios.get(`${apiBase}/travel_order`, authHeaders());
            travel_orders.value = res.data;
            updateAllowed();
          };

          const fetchTravelExpences = async () => {
            const res = await axios.get(`${apiBase}/travel_expence`, authHeaders());
            travel_expences.value = res.data;
          };

          const fetchOrderEmployeees = async () => {
            const res = await axios.get(`${apiBase}/order_employee`, authHeaders());
            order_employees.value = res.data;
          };

          const fetchUsers = async () => {
            const res = await axios.get(`${adminBase}/user`, authHeaders());
            users.value = res.data;
          };


          const t = (message, lang = localStorage.getItem("lang")) => {
            if (!lang || !translations[lang] || !translations[lang][message]) {
              return message;
            } else {
              return translations[lang][message];
            }
          };

          const openReport = (id) => {
            window.open(`report.html?id=${id}`, "_blank");
          }

          const login = async () => {
            try {
              const res = await axios.post(`${apiBase}/login`, loginForm.value);
              token.value = res.data.token;
              localStorage.setItem('token', token.value);
              fetchVehicles();
              fetchEmployees();
              fetchOrganisations();
              fetchTravelOrders();
              fetchTravelExpences();
              fetchOrderEmployeees();
              fetchUsers();
            } catch {
              alert('Login failed');
            }
          };

          const logout = () => {
            token.value = null;
            localStorage.removeItem('token');
            vehicles.value = [];
            employees.value = [];
            organisations.value = [];
            travel_orders.value = [];
            travel_expences.value = [];
            order_employees.value = [];
            users.value = [];
          };

          const createVehicle = async () => {
            if (!newVehicleName.value) {
              alert('Enter Vehicle name!');
              return;
            }
            const res = await axios.post(`${apiBase}/vehicle`, { name: newVehicleName.value, avgConsumption: newVehicleConsumption.value }, authHeaders());
            newVehicleName.value = '';
            newVehicleConsumption.value = '';
            alert(res.data.message);
            fetchVehicles();
          };

          const createEmployee = async () => {
            if (!newEmployeeName.value || !newEmployeeSurname.value || !newEmployeePosition.value || !newEmployeeCardNum.value || !newEmployeeSSN.value) {
              alert('Fill in all the fields!');
              return;
            }
            const res = await axios.post(`${apiBase}/employee`, {
              name: newEmployeeName.value,
              surname: newEmployeeSurname.value,
              position: newEmployeePosition.value,
              cardIdNum: newEmployeeCardNum.value,
              ssn: newEmployeeSSN.value
            }, authHeaders());

            newEmployeeName.value = '';
            newEmployeeSurname.value = '';
            newEmployeePosition.value = '';
            newEmployeeCardNum.value = '';
            newEmployeeSSN.value = '';
            alert(res.data.message);
            fetchEmployees();
          };

          const createOrganisation = async () => {
            if (!newOrganisationRespPerson.value ||
              !newOrganisationSeal.value ||
              !newOrganisationName.value ||
              !newOrganisationAddress.value ||
              !newOrganisationIssuer.value) {
              alert('Fill in all the fields!');
              return;
            }
            const res = await axios.post(`${apiBase}/organisation`, {
              respPerson: newOrganisationRespPerson.value,
              seal: newOrganisationSeal.value,
              name: newOrganisationName.value,
              address: newOrganisationAddress.value,
              issuer: newOrganisationIssuer.value
            }, authHeaders());

            newOrganisationRespPerson.value = '';
            newOrganisationSeal.value = '';
            newOrganisationName.value = '';
            newOrganisationAddress.value = '';
            newOrganisationIssuer.value = '';
            alert(res.data.message);
            fetchOrganisations();
          };

          const createTravelOrder = async () => {
            newTravelOrderReport.value = tinyMCE.get(`add-report-editor`).getContent();
            if (!newTravelOrderStartDate.value ||
              !newTravelOrderEndDate.value ||
              !newTravelOrderTask.value ||
              !newTravelOrderLocation.value ||
              !newTravelOrderState.value ||
              !newTravelOrderFkVehicle.value ||
              !newTravelOrderFkOrganisation.value) {
              alert('Fill in all the fields, per diem, advance payment and report can be empty!');
              return;
            }

            if (newTravelOrderEndDate.value < newTravelOrderStartDate.value) {
              alert('End date can`t be before Start date!');
              return;
            }

            const res = await axios.post(`${apiBase}/travel_order`, {
              startDate: newTravelOrderStartDate.value,
              endDate: newTravelOrderEndDate.value,
              task: newTravelOrderTask.value,
              location: newTravelOrderLocation.value,
              perDiem: newTravelOrderPerDiem.value,
              report: newTravelOrderReport.value,
              state: newTravelOrderState.value,
              advPayment: newTravelOrderAdvPayment.value,
              fkVehicle: newTravelOrderFkVehicle.value,
              fkOrganisation: newTravelOrderFkOrganisation.value
            }, authHeaders());

            newTravelOrderStartDate.value = '';
            newTravelOrderEndDate.value = '';
            newTravelOrderTask.value = '';
            newTravelOrderLocation.value = '';
            newTravelOrderPerDiem.value = '';
            newTravelOrderReport.value = '';
            newTravelOrderState.value = '';
            newTravelOrderAdvPayment.value = '';
            newTravelOrderFkVehicle.value = '';
            newTravelOrderFkOrganisation.value = '';
            alert(res.data.message);
            //fetchTravelOrders();
            window.location.reload();
          };

          const createTravelExpence = async () => {
            if (!newTravelExpenceExpenceType.value ||
              !newTravelExpenceStartLocation.value ||
              !newTravelExpenceEndLocation.value ||
              !newTravelExpenceReceipt.value ||
              !newTravelExpencePrice.value ||
              !newTravelExpenceFkTravelOrder) {
              alert('Fill in all the fields, distance can be empty!');
              return;
            }
            const res = await axios.post(`${apiBase}/travel_expence`, {
              expenceType: newTravelExpenceExpenceType.value,
              startLocation: newTravelExpenceStartLocation.value,
              endLocation: newTravelExpenceEndLocation.value,
              distance: newTravelExpenceDistance.value,
              receipt: newTravelExpenceReceipt.value,
              price: newTravelExpencePrice.value,
              fkTravelOrder: newTravelExpenceFkTravelOrder.value
            }, authHeaders());

            newTravelExpenceExpenceType.value = '';
            newTravelExpenceStartLocation.value = '';
            newTravelExpenceEndLocation.value = '';
            newTravelExpenceDistance.value = '';
            newTravelExpenceReceipt.value = '';
            newTravelExpencePrice.value = '';
            newTravelExpenceFkTravelOrder.value = '';
            alert(res.data.message);
            fetchTravelExpences();
          };

          const createOrderEmployee = async () => {
            if (!newOrderEmployeeFkOrder.value || !newOrderEmployeeFkEmployee.value) {
              alert('Fill in all the fields!');
              return;
            }
            const res = await axios.post(`${apiBase}/order_employee`, { fkOrder: newOrderEmployeeFkOrder.value, fkEmployee: newOrderEmployeeFkEmployee.value }, authHeaders());
            newOrderEmployeeFkOrder.value = '';
            newOrderEmployeeFkEmployee.value = '';
            alert(res.data.message);
            fetchOrderEmployeees();
          };

          const createUser = async () => {
            const isAdmin = newAdmin.value === true;

            if (!newUsername.value || !newPassword.value) {
              alert("Fill in all the fields!");
              return;
            }

            if (!isAdmin && !newFkOrganisation.value) {
              alert("Organisation is required for non-admin users!");
              return;
            }

            const res = await axios.post(`${adminBase}/user`, {
              username: newUsername.value,
              password: newPassword.value,
              admin: isAdmin ? 1 : 0,
              fkOrganisation: newFkOrganisation.value,
            }, authHeaders());

            // Reset
            newUsername.value = '';
            newPassword.value = '';
            newAdmin.value = false;
            newFkOrganisation.value = '';
            alert(res.data.message);
            fetchUsers();
          };


          const updateVehicle = async (vehicle) => {
            const res = await axios.put(`${apiBase}/vehicle/${vehicle.id}`, { name: vehicle.name, avgConsumption: vehicle.avg_consumption }, authHeaders());
            alert(res.data.message);
            fetchVehicles();
          };

          const updateEmployee = async (employee) => {
            const res = await axios.put(`${apiBase}/employee/${employee.id}`, {
              name: employee.name,
              surname: employee.surname,
              position: employee.position,
              cardIdNum: employee.card_id_num,
              ssn: employee.ssn
            }, authHeaders());

            alert(res.data.message);
            fetchEmployees();
          };

          const updateOrganisation = async (organisation) => {
            const res = await axios.put(`${apiBase}/organisation/${organisation.id}`, {
              respPerson: organisation.resp_person,
              seal: organisation.seal,
              name: organisation.name,
              address: organisation.address,
              issuer: organisation.issuer
            }, authHeaders());

            alert(res.data.message);
            fetchOrganisations();
          };

          const updateTravelOrder = async (travel_order) => {
            const uptButton = document.getElementById('uptButton');

            if (travel_order.formatted_end_date < travel_order.formatted_start_date) {
              alert('End date can`t be before Start date!');
              return;
            }
            travel_order.report = tinyMCE.get(`report-${travel_order.id}`).getContent();
            const res = await axios.put(`${apiBase}/travel_order/${travel_order.id}`, {
              startDate: travel_order.formatted_start_date,
              endDate: travel_order.formatted_end_date,
              task: travel_order.task,
              location: travel_order.location,
              perDiem: travel_order.per_diem,
              report: travel_order.report,
              state: travel_order.state,
              advPayment: travel_order.adv_payment,
              fkVehicle: travel_order.fk_vehicle,
              fkOrganisation: travel_order.fk_organisation
            }, authHeaders());

            alert(res.data.message);
            fetchTravelOrders();
          };

          const updateTravelExpence = async (travel_expence) => {
            const res = await axios.put(`${apiBase}/travel_expence/${travel_expence.id}`, {
              expenceType: travel_expence.expence_type,
              startLocation: travel_expence.start_location,
              endLocation: travel_expence.end_location,
              distance: travel_expence.distance,
              receipt: travel_expence.receipt,
              price: travel_expence.price,
              fkTravelOrder: travel_expence.fk_travel_order
            }, authHeaders());

            alert(res.data.message);
            fetchTravelExpences();
          };

          const updateUser = async (user) => {
            const res = await axios.put(`${adminBase}/user/${user.id}`, {
              username: user.username,
              password: user.password,
              admin: user.admin,
              fkOrganisation: user.fk_organisation
            }, authHeaders());

            alert(res.data.message);
            fetchUsers();
          };

          const deleteUser = async (id, admin) => {
            if (admin === 1) {
              alert("You can`t delete a user that has admin status!");
              return;
            }

            const res = await axios.delete(`${adminBase}/user/${id}`, authHeaders());
            alert(res.data.message);
            fetchUsers();
          };

          const deleteVehicle = async (id) => {
            const res = await axios.delete(`${apiBase}/vehicle/${id}`, authHeaders());
            alert(res.data.message);
            fetchVehicles();
          };

          const deleteEmployee = async (id) => {
            const res = await axios.delete(`${apiBase}/employee/${id}`, authHeaders());
            alert(res.data.message);
            fetchEmployees();
          };

          const deleteOrganisation = async (id) => {
            const res = await axios.delete(`${apiBase}/organisation/${id}`, authHeaders());
            alert(res.data.message);
            fetchOrganisations();
          };

          const deleteTravelOrder = async (id) => {
            const res = await axios.delete(`${apiBase}/travel_order/${id}`, authHeaders());
            alert(res.data.message);
            window.location.reload();
          };

          const deleteTravelExpence = async (id) => {
            const res = await axios.delete(`${apiBase}/travel_expence/${id}`, authHeaders());
            alert(res.data.message);
            fetchTravelExpences();
          };

          const deleteOrderEmployee = async (fk_order, fk_employee) => {
            const res = await axios.delete(`${apiBase}/order_employee/${fk_order}/${fk_employee}`, authHeaders());
            console.log(`${apiBase}/order_employee/${fk_order}/${fk_employee}`);
            alert(res.data.message);
            fetchOrderEmployeees();
          };          

          if (token.value) {
            fetchVehicles();
            fetchEmployees();
            fetchOrganisations();
            fetchTravelOrders();
            fetchTravelExpences();
            fetchOrderEmployeees();
            fetchUsers();
          }

          return {
            token, vehicles, employees, organisations, travel_orders, travel_expences, order_employees, users,
            newVehicleName, newVehicleConsumption,
            newEmployeeName, newEmployeeSurname, newEmployeePosition, newEmployeeCardNum, newEmployeeSSN,
            newOrganisationRespPerson, newOrganisationSeal, newOrganisationName, newOrganisationAddress, newOrganisationIssuer,
            newTravelOrderStartDate, newTravelOrderEndDate, newTravelOrderTask, newTravelOrderLocation, newTravelOrderPerDiem, newTravelOrderReport, newTravelOrderState, newTravelOrderAdvPayment, newTravelOrderFkVehicle, newTravelOrderFkOrganisation,
            newTravelExpenceExpenceType, newTravelExpenceStartLocation, newTravelExpenceEndLocation, newTravelExpenceDistance, newTravelExpenceReceipt, newTravelExpencePrice, newTravelExpenceFkTravelOrder,
            newOrderEmployeeFkOrder, newOrderEmployeeFkEmployee,
            newUsername, newPassword, newAdmin, newFkOrganisation,
            loginForm, login, logout,
            createVehicle, createEmployee, createOrganisation, createTravelOrder, createTravelExpence, createOrderEmployee, createUser,
            updateVehicle, updateEmployee, updateOrganisation, updateTravelOrder, updateTravelExpence, updateUser,
            deleteVehicle, deleteEmployee, deleteOrganisation, deleteTravelOrder, deleteTravelExpence, deleteOrderEmployee, t, openReport, maxDate, deleteUser
          };
        }
      }).mount('#app')
    </script>
</body>

</html>