@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */

.headers{
  font-size: 22px;
  font-weight: bold;
}

.subHeaders{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.formInputs{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.formButtons{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.deleteButton{
  background-color: rgb(220, 38, 38);
}

.updateButton{
  background-color: rgb(59, 130, 246);
}

.addButton{
  background-color: rgb(34, 197, 94);
}

.reportButton{
  background-color: rgb(250, 204, 21);
}

.dbData{
  text-decoration: underline;
}

#reportPage p{
  margin-bottom: 20px;
}

@media print {
  .no-print {
    display: none !important;
  }
}

.tox:not(.tox-fullscreen) .tox-menubar {
  display: none;
}

.hide-editor {
  height: 60px !important;
  overflow: hidden;
}

.hide-editor .tox-edit-area__iframe,
.hide-editor .tox-toolbar,
.hide-editor .tox-statusbar,
.hide-editor .tox-menubar {
  display: none !important;
}

.disable{
  opacity: 0.5;
}