@import "tailwindcss";

.headers{
  font-size: 22px;
  font-weight: bold;
}

.subHeaders{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.formInputs{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.formButtons{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.deleteButton{
  background-color: rgb(220, 38, 38);
}

.updateButton{
  background-color: rgb(59, 130, 246);
}

.addButton{
  background-color: rgb(34, 197, 94);
}