<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Travel Order | Report</title>
  <script src="node_modules/vue/dist/vue.global.js"></script>
  <script src="node_modules/axios/dist/axios.js"></script>
  <script src="node_modules/tinymce/tinymce.min.js"></script>
  <script src="node_modules/@tinymce/tinymce-vue/lib/browser/tinymce-vue.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/primeicons/primeicons.css">
  <link href="main.css?ver=1" rel="stylesheet">
  <script src="translate.js"></script>
  <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</head>

<body class="h-screen p-10 bg-gray-200 select-none">
  <div id="app" class="w-full">

    <main id="reportPage" class="bg-white p-16 md:p-20 rounded-3xl font-sans text-gray-800 space-y-6">
      <div class="flex flex-col md:flex-row md:justify-between md:items-center border-b pb-4">
        <p class="text-lg">Naziv organizacije: <span class="dbData font-semibold">{{travel_order.org_name}}</span></p>
        <p class="text-lg">Izveštaj za Nalog ID: <span class="dbData font-semibold">{{id}}</span></p>
      </div>

      <h1 class="text-center text-3xl font-bold text-gray-900 pt-4">NALOG ZA SLUŽBENO PUTOVANJE</h1>

      <section class="space-y-2">
        <span v-for="employee in order_employees" :key="employee.id" :value="employee.id">
          Radnik: <span class="dbData">{{ `${employee.name} ${employee.surname}`}}</span>
          na poziciji <span class="dbData">{{employee.position}}</span> upućuje se na službeni put <br><br>
        </span>

        <span>
          Dana: <span class="dbData">{{travel_order.formatted_start_date}}</span> u <span
            class="dbData">{{travel_order.location}}</span> sa zadatkom <span
            class="dbData">{{travel_order.task}}</span>.
        </span>
        <p>Na službenom putu se koristi prevozno sredstvo <span class="dbData">{{travel_order.vehicle_name}}</span>.</p>

        <p class="ml-4">Dnevnica iznosi <span class="dbData">{{travel_order.per_diem}}</span> EUR.</p>
        <p class="ml-4">Put traje najduže do <span class="dbData">{{travel_order.formatted_end_date}}</span>.</p>
        <p class="ml-8">Troškovi putovanja padaju na teret <span class="dbData">{{travel_order.org_name}}</span>.</p>
        <p class="ml-8">Odobrena akontacija: <span class="dbData">{{travel_order.adv_payment}}</span> EUR.</p>
      </section>

      <p class="text-right italic">Nalogodavac: <span class="dbData">{{organisation.issuer}}</span></p>

      <hr class="my-6">

      <div class="text-center space-y-2">
        <p>Na osnovu prednjeg naloga je izvršeno službeno putovanje i podnosim sledeći</p>
        <h1 class="text-3xl font-bold text-gray-900">PUTNI RAČUN</h1>
      </div>

      <div class="grid md:grid-cols-3 gap-4 border p-4 rounded-xl">
        <div class="space-y-1">
          <p>Dan odlaska: <span class="dbData">{{travel_order.formatted_start_date}}</span></p>
          <p>Dan povratka: <span class="dbData">{{travel_order.formatted_end_date}}</span></p>
        </div>

        <div class="space-y-1">
          <p>Broj dana: <span class="dbData">{{brojDana(travel_order.formatted_start_date,
              travel_order.formatted_end_date)}}</span></p>
          <p>Po <span class="dbData">{{travel_order.per_diem}}</span> EUR</p>
        </div>

        <div class="flex items-center">
          <p class="text-lg font-semibold">Svega: <span class="dbData">{{brojDana(travel_order.formatted_start_date,
              travel_order.formatted_end_date)*travel_order.per_diem}}</span> EUR</p>
        </div>
      </div>

      <div class="flex justify-between border-b pb-4">
        <p>Prevoz od ... do ...</p>
        <p>Tip troška ...</p>
        <p>EUR ...</p>
      </div>

      <div class="text-right space-y-1">
        <p>Svega ...</p>
        <p>Primljena akontacija: <span class="dbData">{{travel_order.adv_payment}}</span> EUR</p>
        <p>Ostaje za uplatu/isplatu ...</p>
      </div>

      <div class="flex justify-between items-center border-t pt-4">
        <p>U <span class="dbData">{{travel_order.location}}</span>, dana <span
            class="dbData">{{travel_order.formatted_end_date}}</span></p>
        <p>Podnosilac zahteva <span class="dbData">{{organisation.resp_person}}</span></p>
      </div>

      <p class="text-center">Potvrđujem da je putovanje izvršeno prema ovom nalogu i odobravam isplatu putnog računa od
        ... EUR na teret <span class="dbData">{{travel_order.org_name}}</span></p>
      <p class="text-center">U <span class="dbData">{{travel_order.location}}</span> dana <span class="dbData">{{travel_order.formatted_end_date}}</span></p>

      <div class="flex justify-between border-t pt-4">
        <p>Račun ...</p>
        <p>Nalogodavac <span class="dbData">{{organisation.issuer}}</span></p>
      </div>

      <p class="text-right">Podnosilac računa <span class="dbData">{{organisation.resp_person}}</span></p>

      <hr class="my-6">

      <div v-if="travel_order.report === ''">

      </div>

      <div v-else>
        <h1 class="text-center text-3xl font-bold text-gray-900">IZVEŠTAJ SA SLUŽBENOG PUTA</h1>
        <p class="text-justify">Izveštaj: <span class="dbData">{{travel_order.report}}</span></p>
      </div>


    </main>

    <br><br>

    <!-- fetch za TRAVEL_EXPENCE -->

    <script>
      const { createApp, ref } = Vue;
      createApp({

        setup() {
          const apiBase = 'http://localhost:3000'; // or 3000 for Node.js
          const token = ref(localStorage.getItem('token'));

          const travel_order = ref([]);
          const order_employees = ref([]);
          const organisation = ref([]);

          const authHeaders = () => ({ headers: { Authorization: `Bearer ${token.value}` } });

          const queryString = window.location.search;
          const urlParams = new URLSearchParams(queryString);
          const id = ref(urlParams.get('id'));

          const fetchTravelOrder = async (id) => {
            const res = await axios.get(`${apiBase}/travel_order/${id}`, authHeaders());
            travel_order.value = res.data;
          };

          const fetchOrderEmployee = async (id) => {
            const res = await axios.get(`${apiBase}/order_employee/${id}`, authHeaders());
            order_employees.value = res.data;
          };

          const fetchOrganisation = async (id) => {
            const res = await axios.get(`${apiBase}/travel_order/${id}/organisation`, authHeaders());
            organisation.value = res.data;
          };

          function brojDana(od, doo) {
            const [d1, m1, y1] = od.split('.').map(Number);
            const [d2, m2, y2] = doo.split('.').map(Number);

            const datum1 = new Date(y1, m1 - 1, d1);
            const datum2 = new Date(y2, m2 - 1, d2);

            const razlika = datum2 - datum1;
            const brDana = razlika / (1000 * 60 * 60 * 24);

            return brDana;
          }

          const t = (message, lang = localStorage.getItem("lang")) => {
            if (!lang || !translations[lang] || !translations[lang][message]) {
              return message;
            } else {
              return translations[lang][message];
            }
          };

          if (token.value) {
            fetchTravelOrder(id.value);
            fetchOrderEmployee(id.value);
            fetchOrganisation(id.value);
          }

          return {
            token, travel_order, t, id, brojDana, order_employees, organisation
          };
        }
      }).mount('#app');
    </script>
    <!-- <script>      
      tinymce.init({
        selector: '#report',
        license_key: 'gpl|av1h8tw7btv65ttg51ee4i68yib9b3kwmeuu7ygjfxjmsz32'
      });
    </script> -->
</body>

</html>